@charset "utf-8";
/* CSS Document */
/************************************
 *	Version 		14.08.1
 *	Author			wuwg
 *  CreateTime      14.08.14
 *	UpdateTime		14.08.14
 ************************************/
 
 
/**************************************
*name     		 layout
*status   		 start
*CreatTime 		 14.08.14
**************************************/
body {
		min-width:1000px;
	}
.contain_backstage {
		margin:0 auto;
		padding:10px 10px;
		min-width:1000px;
	}
.contain_static_backstage {
		margin:0 auto;
		padding:10px 0;
		width:1000px;
		min-width:1000px;
	}
/**************************************
*name      		layout
*status   		 end
*CreatTime 		 14.08.14
**************************************/

/**************************************
*name     		theme
*status    		start
*CreatTime 		14.08.14
**************************************/


/*--------------------   header  --------------------*/


/*--------------------  content  --------------------*/
.art_con {
		position:relative;
		margin:10px 0;
		padding:1em;
		border-radius:3px;
		border:1px solid #e4e4e4;
		background:#f7f7f7 url() 0 0 no-repeat;
	}
.art_con_focus {
		border:1px solid #cae0f0;
		background-color:#e3f4ff;
	}	
.component_text,
.text_area {
		border:none;
		background:none;
		width:100%;
		height:auto;
		resize:none;
		color:#7c7c7c;
		font:12px/1.5em SimSun;
	}	
.a_edit {
		position:absolute;
		bottom:5px;
		right:10px;
		height:24px;
		width:24px;
		font-size:0;
		line-height:0;
		text-indent:-9999em;
		background: url(../images/icon_01.png) center center no-repeat;
	}	
.a_edit:hover {
		text-decoration:none;
	}	
.sect_btn {
		margin:25px 0 10px;
	}	
.sect_btn .btn {
		margin-right:20px;
	}	
.aside_sub {
		padding-left:45px;
		width:305px;
	}	
.aside_main {
		margin-left:440px;	
	}	
	
/*----------------  figure_chart    ---------------- */	
.figure_chart  .chart {
		width: 800px;
		height: 400px;
		margin: 0 auto;
	}	
.figure_chart .img_info {
		margin:40px 0;
		padding:20px;
		border:1px solid #f0f0f0;
	}
.figure_chart  .img_info ul {
		
	}	
.figure_chart   li {
		color:#666;
		font:16px/24px "Microsoft YaHei";
		zoom:1;
		display:inline-block;
		width:230px;
		padding-bottom:20px;
	} 	
.figure_chart  li:after {
		content:"";
		display:block;
		clear:both;
	}
.figure_chart li  i {
		line-height:0;
		font-size:0;
		text-indent:-9999em;
		margin-right:25px;
		width:24px;
		height:24px;
		border-radius:12px;
		background-color:#45bbff;
	}
/*--------------------  footer  --------------------*/
/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */

/**************************************
*name     		 theme
*status    		 end
*CreatTime 		 14.08.14
**************************************/
.uploadify{
	position: absolute;
	top: 0px;
	left: 0px;
}
.template_item{
	cursor: pointer;
}
.template_item img{
	width:240px;
	height: 160px;
}
.template_item:hover{
	border: 1px solid #1b91dc;
}
.template_item_select{
	border: 1px solid #1b91dc;
	cursor: default;
}