@charset "utf-8";
/* CSS Document */
/************************************
 *	临时样式文件
 *	Version 		14.08.1
 *	Author			zh
 *  CreateTime      14.08.14
 *	UpdateTime		14.08.14
 ************************************/
.form_head{
	width: 100%;
	height: 50px;
	padding-top: 10px;
}
.form_head .title_h2{
	float:right;
	width:600px;
	font: 700 18px/40px "Microsoft YaHei";
	text-align:left;
	padding-right: 100px;
}
.form_head .select_pic{
	float:left;
	width:70px;
	font: 700 14px/40px "Microsoft YaHei";
	color:#fff;
	height:40px;
	background:#1b91dc;
	text-align:center;
}

.pic_list{
	float: left;
	list-style-type: none;
}
.pic_list li{
	display: block;
	width:110px;
	height:110px;
	margin:5px;
	float: left;
	border: 5px solid #d3d3d3;
	position: relative;
}
.pic_list li span{
	position: absolute;;
	top: 0px;
	right: 0px;
	width: 35px;
    height: 35px;
	background: url(../images/tribg.png) -5px -5px no-repeat;
}
.pic_list li a:LINK,.pic_list li a:VISITED,.pic_list li a:HOVER{
	position: absolute;;
	top: 0px;
	right: 0px;
	display: block;
	width: 18px;
    height: 18px;
	background: url(../images/icons.png) -48px -24px no-repeat;
	text-decoration: none;
}
/*-----------------------书籍编辑页面----------------------------*/
.h2_title{
	font: 700 18px/40px "Microsoft YaHei";
	border-bottom: 1px solid #d3d3d3;
}
.editor{
	margin: 0 auto;
	width: 800px;
}
.toolbar{
	position: fixed;
	top:150px;
	left:0px;
	width:100px;
	padding:0px;
	z-index:999;
	background:#fff;
	border:1px solid #d3d3d3;
}
.toolbar ul{
	list-style-type: none;
	float:left;
	display:block;
	width:100px;
	padding: 0;
}
.toolbar ul li{
	display: block;
	margin:10px 0px;
	width:100px;
	height:71px; 
}
.toolbar ul li a:LINK,.toolbar ul li a:VISITED{
	display: block;
	width: 71px;
	height:71px;
	margin:0 auto;
}
.toolbar ul li a.gotop{
	background: url(../images/gotop.jpg) no-repeat;
}
.toolbar ul li a.gotop:HOVER {
	background: url(../images/gotop_hover.jpg) no-repeat;
}
.toolbar ul li a.save{
	background: url(../images/save.jpg) no-repeat;
}
.toolbar ul li a.save:HOVER {
	background: url(../images/save_hover.jpg) no-repeat;
}
.toolbar ul li a.reset{
	background: url(../images/reset.jpg) no-repeat;
}
.toolbar ul li a.reset:HOVER {
	background: url(../images/reset_hover.jpg) no-repeat;
}
.toolbar ul li a.back{
	background: url(../images/back.jpg) no-repeat;
}
.toolbar ul li a.back:HOVER {
	background: url(../images/back_hover.jpg) no-repeat;
}
/*--------------------  footer  --------------------*/
/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */