@charset "utf-8";
/* CSS Document */
/************************************
 *	临时样式文件
 *	Version 		14.08.1
 *	Author			zh
 *  CreateTime      14.08.14
 *	UpdateTime		14.08.14
 ************************************/
.form_head{
	width: 100%;
	height: 40px;
	padding-top: 10px;
}
.form_head .title_h2{
	float:right;
	width:600px;
	font: 700 18px/40px "Microsoft YaHei";
	text-align:left;
	padding-right: 100px;
}
.form_head .select_pic{
	float:left;
	width:80px;
	font: 14px/35px "Microsoft YaHei";
	color:#fff;
	height:35px;
	background:#1b91dc;
	text-align:center;
	margin: 3px 10px 0 0;
}
.form_head a.add_user,.form_head a.del_user,
.form_head a.del_order,.form_head a.add_book,
.form_head a.del_book,.form_head a.add_agen,
.form_head a.del_agen,.form_head a.del_info,.form_head a.add_info{
	float:left;
	width:80px;
	font: 14px/35px "Microsoft YaHei";
	color:#fff;
	height:35px;
	background:#1b91dc;
	text-align:center;
	margin-right: 10px;
	text-decoration: none;
}

.pic_list{
	float: left;
	list-style-type: none;
}
.pic_list li{
	display: block;
	width:110px;
	height:110px;
	margin:5px;
	float: left;
	border: 5px solid #d3d3d3;
	position: relative;
}
.pic_list li span{
	position: absolute;;
	top: 0px;
	right: 0px;
	width: 35px;
    height: 35px;
	background: url(../images/tribg.png) -5px -5px no-repeat;
}
.pic_list li a:LINK,.pic_list li a:VISITED,.pic_list li a:HOVER{
	position: absolute;;
	top: 0px;
	right: 0px;
	display: block;
	width: 18px;
    height: 18px;
	background: url(../images/icons.png) -48px -24px no-repeat;
	text-decoration: none;
}
/*-----------------------书籍编辑页面----------------------------*/
.h2_title{
	font: 700 18px/40px "Microsoft YaHei";
	border-bottom: 1px solid #d3d3d3;
}
.editor{
	margin: 0 auto;
	width: 800px;
}
.toolbar{
	position: fixed;
	top:150px;
	left:0px;
	width:100px;
	padding:0px;
	z-index:999;
	background:#fff;
	border:1px solid #d3d3d3;
}
.toolbar ul{
	list-style-type: none;
	float:left;
	display:block;
	width:100px;
	padding: 0;
}
.toolbar ul li{
	display: block;
	margin:10px 0px;
	width:100px;
	height:71px;
}
.toolbar ul li a:LINK,.toolbar ul li a:VISITED{
	display: block;
	width: 71px;
	height:71px;
	margin:0 auto;
}
.toolbar ul li a.gotop{
	background: url(../images/gotop.jpg) no-repeat;
}
.toolbar ul li a.gotop:HOVER {
	background: url(../images/gotop_hover.jpg) no-repeat;
}
.toolbar ul li a.save{
	background: url(../images/save.jpg) no-repeat;
}
.toolbar ul li a.save:HOVER {
	background: url(../images/save_hover.jpg) no-repeat;
}
.toolbar ul li a.reset{
	background: url(../images/reset.jpg) no-repeat;
}
.toolbar ul li a.reset:HOVER {
	background: url(../images/reset_hover.jpg) no-repeat;
}
.toolbar ul li a.back{
	background: url(../images/back.jpg) no-repeat;
}
.toolbar ul li a.back:HOVER {
	background: url(../images/back_hover.jpg) no-repeat;
}
/*------------添加用户弹出层------------------*/

#artwl_title{
	font: 700 16px/30px "Microsoft YaHei";
}
#artwl_message table{
	margin:0px 20px 0 20px;
}
#artwl_message table tr td{
	font: 16px/30px "Microsoft YaHei";
	height: 30px;
}
#artwl_message table tr td input{
	width:150px;
	margin-left: 10px;
	padding-left: 5px;
	height: 25px;
	font: 16px/25px "Microsoft YaHei";
	border: 1px solid #d3d3d3;
}
#artwl_message table tr td .msg{
	padding-left: 20px;
}
#artwl_message table tr td .addBtn{
	height:30px;
	width: 100px;
	text-align: center;
	margin-top:10px;
	cursor: pointer;
}

#artwl_message table tr td .addAgenBtn{
	height:30px;
	width: 100px;
	text-align: center;
	margin-top:10px;
	cursor: pointer;
}
.addUserBox,.addBookBox,.addAgenBox{
	display: none;
}
.teamEditor{
	width:95%;
}
.teamEditor .h2_title{
	margin-bottom: 15px;
}
.teamEmployee{
	margin-top: 15px;
	width:95%;
}
.teamEmployee .h2_title{
	margin-bottom: 15px;
}
.teamEmployee .emp_left{
	border:1px solid #d3d3d3;
	width:150px;
	padding:10px;
	min-height:310px;
	float:left;
}
.teamEmployee .emp_right{
	position:relative;
	border:1px solid #d3d3d3;
	padding-top:10px;
	margin-left:200px;
	height:320px;
}
.person_infor{
	display: none;
}
.emp_right .msg{
	width:200px;
	height:50px;
	margin:0 auto;
	margin-top: 100px;
	font: 16px/100px "Microsoft YaHei";
	text-align: center;
}

.person_infor img.person {
		width:180px;
		height:230px;
		margin:20px 10px 0px 10px;
		border:5px solid #d3d3d3;
		float:left;
		cursor: pointer;
	}

.person_con {
		padding-left:220px;
	}

.person_con .p_li {
		width:100%;
		float:left;
	}

.person_con .p_li h5 {
		width:56px;
		float:left;
		color:#999999;
		white-space:nowrap;
		font:18px/36px 'microsoft yahei';
	}

.person_con .p_li span {
		margin-left:10px;
		height:30px;
		display:block;
		color:#333333;
		border: 1px solid #d3d3d3;
		float: left;
	}
.person_con .p_li span.textarea{
	height:auto;
}
.person_con .p_li span .p_input{
	border: 0;
	float: left;
	padding-left: 5px;
	width:250px;
	height:30px;
	color:#6c6c6c;
	_margin-top:5px;
	font:16px/30px 'microsoft yahei';
}
.person_con .p_li span .p_textarea{
	width:455px;
	height:150px;
	font:16px/30px 'microsoft yahei';
	border: 0;
	padding-left: 5px;
	color:#6c6c6c;
}
/*---------------下拉框--------------------*/
.fd_select_gx {
		float:left;
		height:30px;
		width:150px;
		position:relative;
		border:1px solid #1b91dc;
		z-index:999;
	}

.fd_select_gx .select_drop {
		width:30px;
		height:30px;
		float:right;
		cursor:pointer;
		border-left:1px solid #1b91dc;
		background:url(../images/select_pic_btn.gif) no-repeat 12px 14px;
	}

.fd_select_gx .sel_hover {
		background-color:#e2f2ff;
	}

.fd_select_gx .input_text {
		width:90px;
		height:24px;
		font:14px/24px 'microsoft yahei';
		float:left;
		margin:3px 0px 0px 5px;
		border:0;
		display:inline;
		color:#6c6c6c;
		cursor:pointer;
	}


.fd_select_gx .select_con {
		float:left;
		width:150px;
		position:absolute;
		top:30px;
		left:-1px;
		text-align:center;
		background:#fff;
		border:1px solid #1b91dc;
		display: none;
		font:14px/24px 'microsoft yahei';
	}

.fd_select_gx .select_con a:link,.fd_select_gx .select_con a:visited {
		float:left;
		width:136px;
		line-height:24px;
		color:#6c6c6c;
		padding:0px 6px;
		font-size:14px;
		text-decoration:none;
	}

.fd_select_gx .select_con a:hover{
		background:#e2f2ff;
	}
.empList{
	float:left;
}
.empList a:LINK,.empList a:VISITED{
	text-decoration: none;
	font:14px/30px 'microsoft yahei';
	text-align:center;
	float: left;
	width:152px;
	height:30px;
	display: block;
	color:#6c6c6c;
	border-bottom: 1px solid #d3d3d3;
}
.empList a:HOVER {
	background: #1b91dc;
	color:#fff;
}
.empList a.selected{
	background: url(../images/editor_blue_16.png) right center no-repeat;
	border-bottom: 1px solid #1b91dc;
}
.empList a:hover.selected{
	background: #1b91dc url(../images/editor_white_16.png) right center no-repeat;
	color:#fff;
}
.h2_title .info_save{
	float:right;
	display:inline-block;
	margin-top:5px;
	height:35px;
	width:80px;
	color:#fff;
	background:#1b91dc;
	font: 14px/35px "Microsoft YaHei";
	cursor: pointer;
}
.operate{
	width:100%;
	height:50px;
	background:#d3d3d3;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.operate .delete,.operate .edit,.operate .create,.operate .save{
	float:right;
	width:80px;
	font: 14px/35px "Microsoft YaHei";
	color:#fff;
	height:35px;
	text-align:center;
	margin: 0 8px 0 2px;
	margin-top:8px;
	text-decoration: none;
	cursor: pointer;
}
.msg span{
	float:left;
	display:inline;
	font: 16px/40px "Microsoft YaHei";
}
.msg .create_v{
	float:left;
	display:inline-block;
	height:40px;
	width:70px;
	margin:0 5px;
	color:#fff;
	background:#1b91dc;
	text-decoration: none;
	font: 16px/40px "Microsoft YaHei";
}
.operate .create{
	background: #1b91dc;
}
.operate .save{
	background: #1b91dc;
}
.operate .edit{
	color:#3d3d3d;
	background: #dadada;
}
.operate .delete{
	background: #f35130;
	color: #fff;
}
/*----------------书籍信息---------------------*/
.editor .bookName,.editor .author{
	width:450px;
	margin-left: 10px;
	padding-left: 5px;
	height: 25px;
	font: 16px/25px "Microsoft YaHei";
	border: 1px solid #d3d3d3;
}
.img_cover{
	margin:0 auto;
	width:200px;
	height:300px;
	border: 5px solid #d3d3d3;
	cursor: pointer;
}
.img_cover img{
	width:200px;
	height:300px;
}
/*-----------------机构编辑页样式------------------*/
.editor .agenName{
	width:300px;
	margin-left: 10px;
	padding-left: 5px;
	height: 25px;
	font: 16px/25px "Microsoft YaHei";
	border: 1px solid #d3d3d3;
}
/*--------------资讯页样式------------------*/
.editor .infoTitle{
	width:400px;
	margin-left: 10px;
	padding-left: 5px;
	height: 25px;
	font: 16px/25px "Microsoft YaHei";
	border: 1px solid #d3d3d3;
}
.img_content{
	margin:0 auto;
	width:112px;
	height:112px;
	border: 5px solid #d3d3d3;
	cursor: pointer;
}
.img_content img{
	width:112px;
	height:112px;
	margin: 0 auto;
}
/*--------------------  footer  --------------------*/
/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */