@charset "utf-8";
/* CSS Document */
/************************************
 *	Version 		14.08.1
 *	Author			wuwg
 *  CreateTime      14.08.13
 *	UpdateTime		14.08.13
 ************************************/

/***************************************************************************************************	

							     	type:	padding
									
***************************************************************************************************/
.pt3 {
	padding-top: 3px;
}

.p5 {
	padding: 5px;
}

.pt5 {
	padding-top: 5px;
}

.pb5 {
	padding-bottom: 5px;
}

.pr5 {
	padding-right: 5px;
}

.pl5 {
	padding-left: 5px;
}

.p0_5 {
	padding: 0 5px;
}

.p5_0 {
	padding: 5px 0;
}

.p10 {
	padding: 10px;
}

.pt10 {
	padding-top: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pr10 {
	padding-right: 10px;
}

.pl10 {
	padding-left: 10px;
}

.p0_10 {
	padding: 0 10px;
}

.p10_0 {
	padding: 10px 0;
}

.p15 {
	padding: 15px;
}

.pt15 {
	padding-top: 15px;
}

.pb15 {
	padding-bottom: 15px;
}

.pr15 {
	padding-right: 15px;
}

.pl15 {
	padding-left: 15px;
}

.p0_15 {
	padding: 0 15px;
}

.p15_0 {
	padding: 15px 0;
}

.p20 {
	padding: 20px;
}

.pt20 {
	padding-top: 20px;
}

.pb20 {
	padding-bottom: 20px;
}

.pr20 {
	padding-right: 20px;
}

.pl20 {
	padding-left: 20px;
}

.p0_20 {
	padding: 0 20px;
}

.p20_0 {
	padding: 20px 0;
}
/***************************************************************************************************	

							     	type:	margin
									
***************************************************************************************************/
.m5 {
	margin: 5px;
}

.mt5 {
	margin-top: 5px;
}

.mb5 {
	margin-bottom: 5px;
}

.mr5 {
	margin-right: 5px;
}

.ml5 {
	margin-left: 5px;
}

.m0_5 {
	margin: 0 5px;
}

.m5_0 {
	margin: 5px 0;
}

.m10 {
	margin: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.mr10 {
	margin-right: 10px;
}

.ml10 {
	margin-left: 10px;
}

.m0_10 {
	margin: 0 10px;
}

.m10_0 {
	margin: 10px 0;
}

.m15 {
	margin: 15px;
}

.mt15 {
	margin-top: 15px;
}

.mb15 {
	margin-bottom: 15px;
}

.mr15 {
	margin-right: 15px;
}

.ml15 {
	margin-left: 15px;
}

.m0_15 {
	margin: 0 15px;
}

.m15_0 {
	margin: 15px 0;
}

.m20 {
	margin: 20px;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.mr20 {
	margin-right: 20px;
}

.ml20 {
	margin-left: 20px;
}

.m0_20 {
	margin: 0 20px;
}

.m20_0 {
	margin: 20px 0;
}

.mr30 {
	margin-right: 20px;
}
/***************************************************************************************************	

							     	type:	title
									
***************************************************************************************************/
.h2_30_m {
	margin: 15px 0;
	padding-left: 70px;
	color: #171717;
	text-align: center;
	font: 30px/60px "Microsoft YaHei";
	background: url(../images/line.gif) 0 center repeat-x;
}

.h2_30_m  .sp_title {
	padding: 0 2em;
	height: 60px;
	background-color: #fff;
}

.h2_24_m {
	margin: 10px 0;
	padding-left: 70px;
	color: #ed5a2f;
	font: 24px/60px "Microsoft YaHei";
	background: url(../images/icon_02.gif) 0 center no-repeat;
}

.h3_14_m {
	margin: 10px 0;
	color: #6c6c6c;
	font: 14px/1em "Microsoft YaHei";
}
/***************************************************************************************************	

							     	type:	float
									
***************************************************************************************************/
.fl {
	float: left;
}

.fr {
	float: right;
}
/***************************************************************************************************	

							     	type:	ul
									
***************************************************************************************************/
/********  fd_ul_skin ******/
.ul_skin,.ul_model {
	zoom: 1;
}

.ul_skin:after,.ul_model:after {
	content: "";
	display: block;
	clear: both;
}

.ul_skin li,.ul_model li {
	float: left;
	margin-bottom: 20px;
	padding: 8px 10px 0;
	width: 240px;
	height: 190px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.ul_skin li.selected,.ul_model li.selected {
	border-color: #cae0f0;
	background-color: #e3f4ff;
}

.ul_skin li img,.ul_model li img {
	display: block;
	width: 240px;
	height: 160px;
}
/********  fd_ul_rank  ******/
.ul_rank li {
	zoom: 1;
	margin-bottom: 20px;
}

.ul_rank li:after {
	content: "";
	display: block;
	clear: both;
}

.ul_rank li  .d_num,.ul_rank li  .d_img {
	float: left;
}

.ul_rank li  .d_num {
	width: 125px;
	text-align: center;
	color: #81d1e8;
	font: 36px/51px "Comic Sans MS", "Microsoft YaHei", SimSun;
}

.ul_rank .li_first  .d_num {
	color: #e95a30;
}

.ul_rank .li_second  .d_num {
	color: #fbae42;
}

.ul_rank .li_third  .d_num {
	color: #88c546;
}

.ul_rank li  .d_img {
	width: 190px;
}

.ul_rank li  .d_img  img {
	float: left;
	width: 76px;
	height: 51px;
}

.ul_rank li  .d_img p {
	margin-left: 90px;
	color: #212121;
	font: 14px/1.8em "Microsoft YaHei";
}

.ul_rank li  .d_progress {
	margin-left: 350px;
}

.ul_rank li   .current_progress {
	position: relative;
	width: 100%;
	height: 25px;
	border-radius: 20px;
	background-color: #8ed9ef;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9ae0f5),
		color-stop(100%, #82d1e8));
	background: -webkit-linear-gradient(top, #9ae0f5, #82d1e8);
	background: -moz-linear-gradient(top, #9ae0f5, #82d1e8);
	background: -o-linear-gradient(top, #9ae0f5, #82d1e8);
	background: linear-gradient(top, #9ae0f5, #82d1e8);
}

.ul_rank .li_first  .current_progress {
	background-color: #f4734f;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f77d5b),
		color-stop(100%, #ee5a30));
	background: -webkit-linear-gradient(top, #f77d5b, #ee5a30);
	background: -moz-linear-gradient(top, #f77d5b, #ee5a30);
	background: -o-linear-gradient(top, #f77d5b, #ee5a30);
	background: linear-gradient(top, #f77d5b, #ee5a30);
}

.ul_rank .li_second  .current_progress {
	background-color: #f4734f;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fabd68),
		color-stop(100%, #fbae43));
	background: -webkit-linear-gradient(top, #fabd68, #fbae43);
	background: -moz-linear-gradient(top, #fabd68, #fbae43);
	background: -o-linear-gradient(top, #fabd68, #fbae43);
	background: linear-gradient(top, #fabd68, #fbae43);
}

.ul_rank .li_third   .current_progress {
	background-color: #f4734f;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2df60),
		color-stop(100%, #89c647));
	background: -webkit-linear-gradient(top, #a2df60, #89c647);
	background: -moz-linear-gradient(top, #a2df60, #89c647);
	background: -o-linear-gradient(top, #a2df60, #89c647);
	background: linear-gradient(top, #a2df60, #89c647);
}

.ul_rank li   .sp_count {
	position: absolute;
	top: 0;
	right: -50px;
	color: #81d1e8;
	font: 24px/1em "Microsoft YaHei";
}

.ul_rank .li_first 	 .sp_count {
	color: #ef5d34;
}

.ul_rank .li_second 	 .sp_count {
	color: #fbae42;
}

.ul_rank .li_third 	 .sp_count {
	color: #88c546;
}
/***************************************************************************************************	

							     	type:	dl
									
***************************************************************************************************/
.dl_skin,.dl_skin  dd {
	zoom: 1;
}

.dl_skin:after,.dl_skin  dd:after {
	content: "";
	display: block;
	clear: both;
}

.dl_skin  dt {
	float: left;
	text-align: right;
	width: 75px;
	color: #333;
	font: 12px/37px SimSun;
}

.dl_skin  dt  em {
	color: #fe0000;
}

.dl_skin  dd {
	float: right;
	width: 320px;
	margin-bottom: 15px;
	padding-left: 5px;
	min-height: 30px;
}

.dl_skin .last {
	margin-bottom: 0;
}

.dl_skin  dd .input_text {
	float: left;
}

.dl_skin  .img_preview {
	float: left;
	width: 248px;
	height: 108px;
	overflow: hidden;
	border: 1px solid #b3c5d3;
}

.dl_skin  .img_preview  img {
	display: block;
	margin: 9px auto;
	width: 120px;
	height: 90px;
}

.dl_skin  dd .btn {
	float: left;
	margin-left: 10px;
}

.ul_skin li.selected {
	border-color: #cae0f0;
	background-color: #e3f4ff;
}

.ul_skin li   img {
	display: block;
	width: 240px;
	height: 160px;
}
/***************************************************************************************************	

							     	type:	table
									
***************************************************************************************************/
/*---  table_download ----*/
.table_download {
	width: 100%;
	border: 1px solid #f4f4f4;
}

.table_download  th {
	border-bottom: 1px solid #f3f3f3;
	text-align: center;
	font: 14px/34px "Microsoft YaHei";
	background-color: #efefef;
}

.table_download .th_first {
	width: 65px;
}

.table_download .th_second {
	width: 95px;
}

.table_download td {
	padding: 8px 5px;
	text-align: center;
	font: 14px/25px "Microsoft YaHei";
}

.table_download  .tr_even  td {
	background-color: #f9f9f9;
}

.ul_color_block {
	zoom: 1;
}

.ul_color_block:after {
	content: "";
	display: block;
	clear: both;
}

.ul_color_block  li {
	float: left;
	height: 24px;
	color: #fff;
	text-align: left;
	font: 14px/25px "Microsoft YaHei";
}

.ul_color_block 	.li_01 {
	padding: 0 1%;
}
/*------------ ul_color_block_blue --------------*/
.ul_color_block_blue  .li_01 {
	width: 20%;
	background-color: #0479cc;
}

.ul_color_block_blue  .li_02 {
	width: 10%;
	background-color: #218cd6;
}

.ul_color_block_blue  .li_03 {
	width: 15%;
	background-color: #3ba5ef;
}

.ul_color_block_blue  .li_04 {
	width: 10%;
	background-color: #76c3f9;
}

.ul_color_block_blue  .li_05 {
	width: 20%;
	background-color: #a7d9fc;
}
/*------------ ul_color_block_orange --------------*/
.ul_color_block_orange  .li_01 {
	width: 20%;
	background-color: #ff5d3b;
}

.ul_color_block_orange  .li_02 {
	width: 10%;
	background-color: #ff8065;
}

.ul_color_block_orange  .li_03 {
	width: 15%;
	background-color: #ffa592;
}

.ul_color_block_orange  .li_04 {
	width: 10%;
	background-color: #fec1b4;
}

.ul_color_block_orange  .li_05 {
	width: 20%;
	background-color: #f6d7d0;
}
/*------------ ul_color_block_green --------------*/
.ul_color_block_green  .li_01 {
	width: 20%;
	background-color: #209e75;
}

.ul_color_block_green  .li_02 {
	width: 10%;
	background-color: #37aa84;
}

.ul_color_block_green  .li_03 {
	width: 15%;
	background-color: #4fc09b;
}

.ul_color_block_green  .li_04 {
	width: 10%;
	background-color: #7ed1b6;
}

.ul_color_block_green  .li_05 {
	width: 20%;
	background-color: #a5dac9;
}
/*------------ ul_color_block_brown --------------*/
.ul_color_block_brown  .li_01 {
	width: 20%;
	background-color: #cc5704;
}

.ul_color_block_brown  .li_02 {
	width: 10%;
	background-color: #d66b21;
}

.ul_color_block_brown  .li_03 {
	width: 15%;
	background-color: #ef853b;
}

.ul_color_block_brown  .li_04 {
	width: 10%;
	background-color: #f9ac76;
}

.ul_color_block_brown  .li_05 {
	width: 20%;
	background-color: #fccaa7;
}
/***************************************************************************************************	

							     	type:	form
									
***************************************************************************************************/
.sp_checkbox {
	display: inline-block;
	padding-left: 28px;
	height: 24px;
	color: #000;
	cursor: pointer;
	font: 14px/24px "Microsoft YaHei";
	white-space: nowrap;
	background: url(../images/checkbox.png) 0 center no-repeat;
}

.sp_checkbox_selected {
	background: url(../images/checkbox_selected.png) 0 center no-repeat;
}

.sp_text {
	display: inline-block;
	height: 24px;
	color: #000;
	font: 14px/24px "Microsoft YaHei";
	white-space: nowrap;
}

.sp_edit,.sp_delete {
	float: left;
	margin-left: 3px;
	display: inline-block;
	width: 24px;
	height: 24px;
	font: 0px/0px "Microsoft YaHei";
	text-indent: -9999em;
	cursor: pointer;
	background: url(../images/checkbox.png) 0 center no-repeat;
}

.sp_edit {
	background-image: url(../images/icon_01.png);
}

.sp_delete {
	background-image: url(../images/close.png);
}
/***************************************************************************************************	

							     	type:	input
									
***************************************************************************************************/
.input_text {
	width: 228px;
	height: 28px;
	padding: 0 10px;
	color: #333;
	font: 12px/28px SimSun;
	border: 1px solid #b3c5d3;
}
/***************************************************************************************************	

							     	type:	button
									
***************************************************************************************************/
.btn {
	padding: 0px 15px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	border: 1px solid #b8b8b8;
	height: 28px;
	font: 12px/28px NSimSun, "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #474747;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb),
		color-stop(100%, #d6d6d6));
	background: -webkit-linear-gradient(top, #ebebeb, #d6d6d6);
	background: -moz-linear-gradient(top, #ebebeb, #d6d6d6);
	background: -o-linear-gradient(top, #ebebeb, #d6d6d6);
	background: linear-gradient(top, #ebebeb, #d6d6d6);
}

.btn_large {
	height: 34px;
	line-height: 34px;
	font-size: 16px;
}

.btn:hover {
	text-decoration: none;
	background-color: #dcdcdc;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),
		color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
	background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
	background: -o-linear-gradient(top, #ffffff, #dcdcdc);
	background: linear-gradient(top, #ffffff, #dcdcdc);
}

.btn:active {
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px
		white;
	-moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
	background: #eeeeee;
	color: #bbbbbb;
}

.btn_primary {
	border-color: #197dc2;
	color: #fff;
	background-color: #4c9fed;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #63bcfa),
		color-stop(100%, #49a6e7));
	background: -webkit-linear-gradient(top, #63bcfa, #49a6e7);
	background: -moz-linear-gradient(top, #63bcfa, #49a6e7);
	background: -o-linear-gradient(top, #63bcfa, #49a6e7);
	background: linear-gradient(top, #63bcfa, #49a6e7);
	position: relative;
}

.btn_primary:hover {
	background-color: #2d89df;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe),
		color-stop(100%, #008db2));
	background: -webkit-linear-gradient(top, #00c9fe, #008db2);
	background: -moz-linear-gradient(top, #00c9fe, #008db2);
	background: -o-linear-gradient(top, #00c9fe, #008db2);
	background: linear-gradient(top, #00c9fe, #008db2);
}

.btn_primary:active {
	color: #fff;
	background-color: #2d89df;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe),
		color-stop(100%, #008db2));
	background: -webkit-linear-gradient(top, #00c9fe, #008db2);
	background: -moz-linear-gradient(top, #00c9fe, #008db2);
	background: -o-linear-gradient(top, #00c9fe, #008db2);
	background: linear-gradient(top, #00c9fe, #008db2);
}
/*------------------------   1    ------------------------ */
/***************************************************************************************************	

							     	type:	popup
									
***************************************************************************************************/
.popup {
	display: none;
	position: absolute;
	background-color:#fff;
	width: 530px;
}

.popup  header {
	position: relative;
	padding: 0 22px;
	height: 47px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font: 700 16px/47px "Microsoft YaHei";
	background-color: #2299ec;
}

.popup  .sp_close {
	position: absolute;
	right: 20px;
	top: 11px;
	width: 24px;
	height: 24px;
	line-height: 0;
	font-size: 0;
	text-indent: -9999em;
	cursor: pointer;
	background: url(../images/window_close.png) 0 0 no-repeat;
}

.popup .pop_con {
	padding: 20px;
	background-color: #fff;
}

.popup  footer {
	height: 55px;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	background-color: #efeeee;
}

.popup  footer	.btn {
	margin: 9px 15px;
}

.uploader_box {
	margin: 0 auto;
}

.h3_b {
	width: 100%;
	height:40px;
	background-color: #0a77ca;
	color: #fff;
	font: 20px/40px "Microsoft YaHei";
	margin-bottom: 10px;
}

.h3_b a.close {
	background: url(../images/close.png) center center no-repeat;
	display: inline-table;
	vertical-align:middle;
	text-align:center;
	float: right;
	width: 40px;
	height: 40px;
	text-decoration: none;
}
.h3_b a.close:hover{
	background: url(../images/close_hover.png) center center no-repeat;
}
.h3_b span {
	text-align: center;
}

/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */